#index_page_backimg {
    background-image: url("home_img_2.png");
}

.login_div{
	position :absolute;
	top:300px;
	left:200px;
	
}
.login_table{
	background:#FFFFFF;
	width:400px;
	height:280px;	
	font-size:18px;
	box-shadow: 0px 0px 5px 4px rgba(225,225,225,0.5);
	
}
.register_table{
	margin:5% 10%;
	background:#FFFFFF;
	width:80%;
	height:600px;	
	font-size:18px;
	box-shadow: 0px 0px 5px 4px rgba(225,225,225,0.5);
}
.register_table td {
	padding-left:20px;
}
table {
	border: none;	
}

input[type=text],input[type=password]{
	width: 200px;
	height:30px;
    display: block;
   
}
.login_table td {
	padding-left:20px;
}

input[type=button],input[type=submit]{
background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}

input[type=button]:hover,input[type=submit]:hover {	
	background-color:#0061a7;
}

select {
    padding:3px;
    margin: 0;   
    border-radius:4px;  
    width: 200px;
	height:37px;   
    border:none;
   } 
.login_form_header{
	font-size: 25px;
	color:#FFF;
	background:#648F6C;
}

.sub_heading{
	font-size: 20px;
	color:#E309F2;
	font-weight: bold;
}

.error{
	color:red;
}